header {
  background-color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 8px;
  left: 8px;
  right: 8px;
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  width: 98vw;
}

.menu-bar {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar img {
  display: flex;
  justify-content: center;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-bar__arrow {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info-block {
  position: fixed;
  top: 15px;
  left: 60px;
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.user-name {
  font-weight: bolder;
}
.user-deg {
  width: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
}
.user-time {
  position: fixed;
  top: 35px;
  left: 60px;
  width: 110px;
  font-size: 11px;
  margin-top: 3px;
  color: gray;
}

.top-bar img {
  width: 25px;
  height: 25px;
  margin: 5px 5px 5px 5px;
}

.desc-bar img {
  margin: 10px 20px 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
}
.desc-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid gray;
}
.desc {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45px;
}
.desc__price {
  font-weight: bold;
}
