.media-info-msg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  opacity: 1;
}

@media screen and (min-width: 358px) {
    .media-info-msg {
      display: none;
    }